* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 132, 255);
    padding: 25px 60px;

}

 .name {
    display: flex;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.cart {
    position: relative;
    background-color: white;
    font-size: 40px;
    border-radius: 3px;
}


.cartAmount {
    position: absolute;
    top: -20px;
    right: -5px;
    background-color: red;
    font-size: 20px;
    border-radius: 3px;
}

/* container items  below */

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 200;
    min-height: 300px;
    margin: 10px 0 0 20px;
    gap: 30px;
}

@media (max-width: 1000px) {
    .container {
        flex-wrap: wrap;
    }
}

.items {
    border: 2px solid black;
    border-radius: 5px;
}

.item1 {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 180px;
    padding: 0 10px;
}

.item-name {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

img {
    padding: 10px 10px;
}

.desc {
    margin: 5px 0;
}


.price-quan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    height: 60px;
}

.item-price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    height: 60px;
}

.buttons {
    display: flex;
    height: 60px;
    align-items: center;
}

.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}

.quantity {
    padding: 0 10px;
}

/* styles for cart page */

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn {
 background-color: black;
 color: white;
 border: none;   
 padding: 6px;
 border-radius: 3px;
 cursor: pointer;
 margin-top: 10px;
}

.bi-x-lg {
    color: red;
    font-weight: bold;
}

/* styles for shopping cart */

.shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    min-height: 150px;
    margin: auto;
    gap: 10px;
}

.container {
    border: 2px solid black;
    border-radius: 10px;
}

/* styles for cart items */

.cart-item {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 120px;
    /*  */border: 2px solid black;
}

.image {
    display: flex;
    width: 100px;
    height: 120px;
}

.title-price-x {
    width: 215px;
}

.title-price {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 40px;
    padding-top: 10px;
}

.buttons {
    height: 30px;
}

.cart-item-price {
    font-weight: bold;
}

.total {
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.checkout {
    width: 70px;
    background-color: green;
    color: white;
    border-radius: 4px;
}

.removeAll{
    width: 70px;
    background-color: red;
    color: white;
    border-radius: 4px;
}